PORT=3000
JWT_SECRET=seu-segredo-jwt-muito-seguro-mude-em-producao
JWT_EXPIRES_IN=24h

# Supabase Database
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.nzrqavhqrwvhmmmbanwp.supabase.co:5432/postgres?schema=public"
